body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
}
textarea {
    display: block;
    margin: 10px auto;
}
label {
    display: block;
    margin: 10px auto;
}
button {
    display: block;
    margin: 10px auto;
}
